/* CSS Document */
.cmain_head{
	margin-top:5px;
	float:left;
	clear:both;
	overflow:hidden;
}
.cmain_head{
	width:962px;
	border:1px solid #b6b6b6;
	background-image:url('web/head_bg2.gif');
        height:28px;
}
.cmain_head_left{
	float:left;
	clear:right;
	width:440px;
	height:20px;
	padding-left:10px;
	padding-top:8px;
	color:#FFFFFF;
}
.cmain_head_left a:link, .cmain_head_left a:visited{
	color:#fffffe;
}
.cmain_head_left a:hover, .cmain_head_left a:active{
	color:#000000;
}
.cmain_head_right{
	float:left;
	clear:right;
	width:511px;
        padding-right:10px;
	padding-top:8px;
	overflow:hidden;
}
.cmain_head_right input.style1{
	font-size:12px;
	width:108px;
	height:15px;
	border:solid 1px #2b2b2;
}
.cmain_head_right input.style2{
	width:63px;
	height:18px;
}
.cmain_head_right li{
	width:224px;
	float:left;
	clear:right;
	color:#ffffff;
	text-align:right;
}
.cmain_head_right li.style1{
	width:63px;
	padding-left:6px;
	padding-top:1px;
	text-align:center;
}
.cmain_body{
	float:left;
	clear:both;
	overflow:hidden;
}
.cmain_body{
	width:964px;
}
.cmain_foot{}

.cmain1_bodyleft, .cmain1_bodyright{
	float:left;
	clear:right;
}
.cmain1_bodyleft{
	width:700px;
	
}
.cmain1_bodyright{
	width:264px;	
}

.cmain1_mainbar1{
	margin-top:5px;
	width:262px;
	border:solid 1px #b6b6b6;
	overflow:hidden;
}
.cmain1_mainbar1_head, .cmain1_mainbar1_body{
	float:left;
	clear:both;
}
.cmain1_mainbar1_head{
	width:254px;
	height:20px;
	padding-top:9px;
	padding-left:8px;
	background:#b6b6b6 url('web/head_bg1.gif') no-repeat left top;
	color:#FFFFFF; font-weight:bold; background-color:#b6b6b6
}
.cmain1_mainbar1_body{
	width:242px;
	padding-left:12px;
	padding-top:12px;
	background-color:#fafafa;
	overflow:hidden;
}
.cmain1_mainbar1_body a:link, .cmain1_mainbar1_body a:visited{
	color:#666666;
	text-decoration:none;
}
.cmain1_mainbar1_body a:hover, .cmain1_mainbar1_body a:active{
	color:#ff3300;
	text-decoration: underline;
}
.cmain1_mainbar1_body li{
	height:20px;
}
.cmain1_mainbar1_foot{}
.cmain1_mainbar1_ad{
	margin-top:5px;
	width:264px;
	overflow:hidden;
}