/* CSS Document */
.news_left, .news_main, .news_right{
	float:left;
	clear:right;
}
.news_left{
	width:209px;
}
.news_left a:link, .news_left a:visited{
	color:#666666;
	text-decoration:none;
}
.news_left a:hover, .news_left a:active{
	color:#ff3300;
	text-decoration: underline;
}
.news_right a:link, .news_right a:visited{
	color:#666666;
	text-decoration:none;
}
.news_right a:hover, .news_right a:active{
	color:#ff3300;
	text-decoration: underline;
}

.news_main{
	width:551px;
}
.news_right{
	width:204px;
}

.news_mainbar1_body{
	float:left;
	clear:both;
	width:182px;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	overflow:hidden;
	background-color:#fafafa;
}
.news_mainbar1_bodytop, .news_mainbar1_bodydown{
	float:left;
	clear:both;
	width:182px;
	overflow:hidden;
}
.news_mainbar1_bodytop{
	height:64px;
	background:url('web/line_2.gif') repeat-x bottom;
	overflow:hidden
}
.news_mainbar1_bodytop_img, .news_mainbar1_bodytop_text{
	float:left;
	clear:right;
}
.news_mainbar1_bodytop_img{
	width:82px;
}
.news_mainbar1_bodytop img{
	padding:1px;
	border:solid 1px #d9d9d9;
}
.news_mainbar1_bodytop_text{
	width:100px;
	line-height:20px;
}
.news_mainbar1_bodydown{
	padding-top:10px;
	padding-bottom:2px;
	color:#666666;
}
.news_mainbar1_bodydown li{
	height:20px;
}

.news_mainbar2{
	margin-top:5px;
	width:544px;
	border:solid 1px #b6b6b6;
	overflow:hidden;
}
.news_mainbar2_head{
	width:544px;
	height:29px;
	background:url('web/mainbar3_bg1.gif');
}
.news_mainbar2_head li.onbutton, .news_mainbar2_head li.button{
	float:left;
	clear:right;
	font-size:14px;
	width:92px;
	text-align:center;
	border-right:solid 1px #b6b6b6;
	color:#fc3800;
	cursor:pointer;
}
.news_mainbar2_head li a{color:#fc3800; text-decoration:none}
.news_mainbar2_head li a:hover{color:#ff0000; text-decoration:underline}
.news_mainbar2_head li a:visited{color:#fc3800}

.news_mainbar2_head li.onbutton{
	font-size:14px;
	height:21px;
	padding-top:8px;
	font-weight:bold;
	background-color:#FFFFFF;
}
.news_mainbar2_head li.button{
	font-size:14px;
	height:22px;
	padding-top:7px;
	background:url('web/mainbar3_bg2.gif');
}
.news_mainbar2_body{
	width:504px;
	padding-left:20px;
	padding-right:20px;
	overflow:hidden;
}
.news_mainbar2_body_title, .news_mainbar2_body_page{
	float:left;
	clear:both;
	width:504px;
	overflow:hidden;
}
.news_mainbar2_body_title ul{
	float:left;
	clear:both;
	width:504px;
	padding-top:16px;
	padding-bottom:7px;
	background:url('web/line_4.gif') repeat-x bottom;
}
.news_mainbar2_body_title li{
	height:24px;
	color:#838383
}
.news_mainbar2_body_title a:link, .news_mainbar2_body_title a:visited{
	font-size:14px;
	color:#000;
	text-decoration:none;
}
.news_mainbar2_body_title a:hover, .news_mainbar2_body_title a:active{
	font-size:14px;
	color:#FF6600;
	text-decoration:underline;
}
.news_mainbar2_body_page{
	height:38px;
	padding-top:14px;
	text-align:center;
	overflow:hidden;
}
.news_mainbar2_body_page li{
	margin-left:5px;
	float:left;
	clear:right;
	border:solid 1px #CCCCCC;
	padding-top:6px;
	padding-bottom:4px;
	padding-left:8px;
	padding-right:8px;
	cursor:pointer;
	color:#FF6600;
}
.news_mainbar2_body_page li.nowpage{
	border:solid 1px #FFFFFF;
	color:#FFFFFF;
	font-weight:bold;
	color:#FF6600;
	cursor:default;
}
.news_mainbar2_foot{}

.news_mainbar3_body{
	width:184px;
	padding-left:9px;
	padding-right:9px;
	padding-top:13px;
	overflow:hidden;
	line-height:18px!important;
	line-height:24px;
}
.news_mainbar3_body a:link, .news_mainbar3_body a:visited{
	color:#ff3c00;
	text-decoration:none;
}
.news_mainbar3_body a:hover, .news_mainbar3_body a:active{
	color:#ff3c00;
	text-decoration:underline;
}
.news_mainbar3_body img{
	border:solid 1px #d7d7d7;
}
.news_mainbar3_body li{
	float:left;
	width:92px;
	height:107px;
	text-align:center;
	overflow:hidden;
}

.newsinfo_left, .newsinfo_right{
	float:left;
	clear:right;
}
.newsinfo_left{
	width:630px;
}
.newsinfo_right{
	width:334px;
}
.newsinfo_main{
	margin-top:5px;
	float:left;
	clear:both;
	width:622px;
	border:solid 1px #b6b6b6;
	overflow:hidden;
}
.newsinfo_main_ad{
	float:left;
	clear:both;
	width:610px;
	padding:6px;
}
.newsinfo_main_head{
	float:left;
	clear:both;
	width:614px;
	height:20px;
	padding-top:8px;
	padding-left:8px;
	border-top:solid 1px #b6b6b6;
	border-bottom:solid 1px #b6b6b6;
	background-color:#f7f7f7;
}
.newsinfo_main_body{
	float:left;
	clear:both;
	width:590px;
	padding-left:16px;
	padding-right:16px;
	padding-bottom:16px;
	overflow:hidden;
}
.newsinfo_main_foot{}

.newsinfo_main_body_news{
	float:left;
	clear:both;
	width:590px;
}
.newsinfo_main_body_news a:link, .newsinfo_main_body_news a:visited{
	color:#ff6600;
	text-decoration:none;
}
.newsinfo_main_body_news a:hover, .newsinfo_main_body_news a:action{
	color:#ff6600;
	text-decoration:underline;
}
.newsinfo_main_body_news_head, .newsinfo_main_body_news_body, .newsinfo_main_body_news_foot{
	float:left;
	clear:both;
	overflow:hidden;
}
.newsinfo_main_body_news_head{
	width:590px;
}
.newsinfo_main_body_news_head li.title{
	width:590px;
	padding-top:20px;
	padding-bottom:14px;
	font-size:24px;
	font-weight:bold;
	line-height:28px;
	text-align:center;
}
.newsinfo_main_body_news_head li.date{
	width:590px;
	height:19px;
	padding-top:7px;
	border-top:solid 1px #e0e0e0;
	border-bottom:solid 1px #e0e0e0;
	text-align:center;
}
.newsinfo_main_body_news_body{
    margin-top:20px;
	width:590px;
	font-size:14px;
}
.newsinfo_main_body_news_body li.title{
	padding-top:14px;
	padding-bottom:22px;
	line-height:24px;
}
.newsinfo_main_body_news_body li.writer{
	height:24px;
}
.newsinfo_main_body_news_body li.writer span{
	color:#FF6600;
}
.newsinfo_main_body_news_body li.mess{
	height:34px;
}
.newsinfo_main_body_news_foot{
	width:588px;
	height:19px;
	padding-top:8px;
	border:solid 1px #e3e3e3;
	background-color:#f7f7f7;
}
.newsinfo_main_body_news_foot li{
	float:left;
	clear:right;
	width:294px;
	text-align:center;
}

.newsinfo_main_body_link{
	margin-top:5px;
	width:588px;
	float:left;
	clear:both;
	border:solid 1px #b6b6b6;
	overflow:hidden;
}
.newsinfo_main_body_link a:link, .newsinfo_main_body_link a:visited{
	color:#003399;
	text-decoration:none;
}
.newsinfo_main_body_link a:hover, .newsinfo_main_body_link a:action{
	color:#003399;
	text-decoration:underline;
}
.newsinfo_main_body_link_head, .newsinfo_main_body_link_body{
	float:left;
	clear:both;
}
.newsinfo_main_body_link_head{
	width:580px;
	height:20px;
	padding-top:9px;
	padding-left:8px;
	background:#b6b6b6 url('web/head_bg1.gif') no-repeat left top;
	color:#FFFFFF; font-weight:bold; background-color:#b6b6b6
}
.newsinfo_main_body_link_body{
	width:576px;
	padding-left:12px;
	padding-top:12px;
	overflow:hidden;
	color:#666666;
}
.newsinfo_main_body_link_body li{
	height:22px;
}
.newsinfo_main_body_link_foot{}

.newsinfo_main_body_mess{
	margin-top:5px;
	width:588px;
	float:left;
	clear:both;
	border:solid 1px #b6b6b6;
	overflow:hidden;
}
.newsinfo_main_body_mess_head, .newsinfo_main_body_mess_body{
	float:left;
	clear:both;
}
.newsinfo_main_body_mess_head{
	width:580px;
	height:18px;
	padding-top:6px;
	padding-left:8px;
	background-color:#b6b6b6;
	background-color:#e9e9e9;
}
.newsinfo_main_body_mess_body{
	width:568px;
	padding-left:20px;
	padding-top:12px;
	background-color:#fafafa;
	overflow:hidden;
}
.newsinfo_main_body_mess_body li.style1{
	width:568px;
	float:left;
	padding-top:4px;
}
.newsinfo_main_body_mess_body li.style1 span{
	color:#FF6600;
}
.newsinfo_main_body_mess_body li.style1 a{
	color:#FF6600;
	text-decoration:underline;
}
.newsinfo_main_body_mess_body li.style1 textarea{
	width:530px;
	height:116px;
	border:solid 1px #b2b2b2;
	font-size:12px;
}
.newsinfo_main_body_mess_body li.style2{
	width:330px;
	height:30px;
	float:left;
	padding-top:4px;
}
.newsinfo_main_body_mess_body li.style2 input{
	font-size:12px;
	height:20px;
}
.newsinfo_main_body_mess_body li.style2 input.style{
	width:80px;
	height:14px;
	border:solid 1px #b2b2b2;
}
.newsinfo_main_body_mess_body li.style3{
	width:200px;
	float:left;
	text-align:right;
	padding-top:4px;
}
.newsinfo_main_body_mess_body li.style3 input{
	font-size:12px;
	height:20px;
}
.newsinfo_main_body_mess_foot{}

.newsinfo_right_ad{
	margin-top:5px;
	width:334px;
	float:left;
	clear:both;
	overflow:hidden;
}

.newsinfo_rightbar{
	margin-top:5px;
	width:332px;
	float:left;
	clear:both;
	border:solid 1px #CCCCCC;
	overflow:hidden;
}
.newsinfo_rightbar_head, .newsinfo_rightbar_body{
	float:left;
	clear:both;
	overflow:hidden;
}
.newsinfo_rightbar_head{
	width:324px;
	height:20px;
	padding-top:9px;
	padding-left:8px;
	background:#b6b6b6 url('web/head_bg1.gif') no-repeat left top;
	color:#FFFFFF; font-weight:bold; background-color:#b6b6b6
}
.newsinfo_rightbar_body{
	width:332px;
	padding-top:12px;
	background-color:#f7f7f7;
}
.newsinfo_rightbar_body ul.style1{
	float:left;
	clear:both;
	width:330px;
	padding:1px;
}
.newsinfo_rightbar_body ul.style1 li{
	float:left;
	clear:right;
	width:110px;
	text-align:center;
	line-height:24px;
}
.newsinfo_rightbar_body ul.style1 a:link, .newsinfo_rightbar_body ul.style1 a:visited{
	color:#ff6600;
	text-decoration:none;
}
.newsinfo_rightbar_body ul.style1 a:hover, .newsinfo_rightbar_body ul.style1 a:action{
	color:#ff6600;
	text-decoration:underline;
}
.newsinfo_rightbar_body ul.style1 img{
	border:solid 1px #cecece;
}
.newsinfo_rightbar_body ul.style2{
	float:left;
	clear:both;
	width:332px;
	padding-top:8px;
}
.newsinfo_rightbar_body ul.style2 a:link, .newsinfo_rightbar_body ul.style2 a:visited{
	color:#003399;
	text-decoration:none;
}
.newsinfo_rightbar_body ul.style2 a:hover, .newsinfo_rightbar_body ul.style2 a:action{
	color:#003399;
	text-decoration:underline;
}
.newsinfo_rightbar_body ul.style2 li{
	float:left;
	width:152px;
	height:22px;
	padding-left:14px;
}
.newsinfo_rightbar_foot{}
