/* CSS Document */
body,td,th {
	font-size: 12px;
}
body {
	margin: 0px;
}
ul,li,form,h1,h2{
	margin:0px;
	padding:0px;
	overflow:hidden;
}
ul{
	list-style-type: none;
}
h1{
	font-size:14px;
	color:#fe4d00;
	font-weight:bold;
}
h2{
	font-size:12px;
	color:#666666;
	font-weight:bold;
}
a:link,a:visited{
	color:#000000;
	text-decoration:none;
}
a:hover,a:active{
	color:#ff0000;
	text-decoration:none;
}
.header,.main,.foot{
	margin:auto;
	clear:both;
	width:964px;
	overflow:hidden;
}
.header_loginbar{
	float:left;
	clear:both;
	width:964px;
	height:24px;
	padding-top:6px;
	overflow:hidden;
}
.header_loginbar_left{
	float:left;
	clear:right;
	width:502px;
	padding-left:222px;
	overflow:hidden;
}
.header_loginbar_left input.style1{
	font-size:12px;
	width:94px;
	height:14px;
	border:solid 1px #8d8d8d;
}
.header_loginbar_left li{
	float:left;
	clear:right;
}
.header_loginbar_left li.style1{
	width:57px;
	padding-top:2px;
	text-align:center;
}
.header_loginbar_left li.style2{
	width:50px;
	padding-top:4px;
}
.header_loginbar_left a:link,.header_loginbar_left a:visited{
	color:#000000;
	text-decoration:none;
}
.header_loginbar_left a:hover,.header_loginbar_left a:active{
	color:#ff0000;
	text-decoration: underline;
}
.header_loginbar_right{
	float:left;
	clear:right;
	padding-top:2px;
}
.header_loginbar_right li{
	float:left;
	clear:right;
	width:39px;
	height:14px;
	padding-top:2px;
	padding-right:9px;
	background:url(web/button_bg.gif) no-repeat -10px -10px;
	text-align:center;
	color:#ff3c00;
}
.header_loginbar_right a:link,.header_loginbar_right a:visited{
	color:#ff3c00;
	text-decoration:none;
}
.header_loginbar_right a:hover,.header_loginbar_right a:active{
	color:#ff3c00;
	text-decoration:none;
}

.header_logobar{
	float:left;
	clear:both;
	width:962px;
	height:70px;
	border:solid 1px #b6b6b6;
	background-image:url(web/header_logobg.gif);
	overflow:hidden;
}
.header_logobar_left,.header_logobar_right{
	float:left;
	clear:right;
	overflow:hidden;
}
.header_logobar_left{
	width:207px;
	height:70px;
}
.header_logobar_right{
	width:705px;
	height:62px;
	padding-left:30px;
	padding-top:8px;
	line-height:28px;
}

.header_searchbar{
	margin-top:5px;
	float:left;
	clear:both;
	width:962px;
	height:66px;
	border:solid 1px #b6b6b6;
	background-image:url(web/header_searchbg.gif);
	overflow:hidden;
}
.header_searchbar_left,.header_searchbar_right{
	float:left;
	clear:right;
}
.header_searchbar_left{
	width:160px;
	height:56px;
	padding-left:26px;
	padding-top:10px;
	/*background:url(web/header_search_leftbg.gif) no-repeat right;*/
	line-height:24px;
}
.header_searchbar_right{
	width:776px;
	height:66px;
}
.header_searchbar_right ul{
	float:left;
	clear:both;
	width:740px;
}
.header_searchbar_right li{
	float:left;
}
.header_searchbar_right li.style1{
	float:left;
	height:19px;
	padding-left:80px;
	padding-top:11px;
	width:660px;
	color:#333333;
}
.header_searchbar_right li.style1 a:link,.header_searchbar_right li.style1 a:visited{
	color:#333333;
	text-decoration:none;
}
.header_searchbar_right li.style1 a:hover,.header_searchbar_right li.style1 a:active{
	color:#FF0000;
	text-decoration:none;
}
.header_searchbar_right li.style2{
	float:left;
	padding-top:6px;
	color:#333333;
	font-size:14px;
	font-weight:bold;
}
.header_searchbar_right li.style3{
	float:left;
}
.header_searchbar_right li.style3 input{
	width:430px;
	height:16px;
	padding-top:4px;
	border:solid 1px #b7b7b7;
}
.header_searchbar_right li.style4{
	padding-top:1px;
	padding-left:6px;
}
.header_searchbar_right li.style5{
	padding-top:11px;
	padding-left:12px;
	text-decoration:underline;
}
.header_searchbar_right li.style5 a:link,.header_searchbar_right li.style5 a:visited{
	color:#333333;
	text-decoration:underline;
}
.header_searchbar_right li.style5 a:hover,.header_searchbar_right li.style5 a:active{
	color:#FF0000;
	text-decoration:underline;
}

.main_adbar{
	margin-top:5px;
	float:left;
	clear:both;
	width:964px;
	overflow:hidden;
}
.main_adbar li{
	float:left;
	width:190px;
}
.main_adbar li.style1{
	float:left;
	width:204px;
}
.main_adbar li.style2{
	float:left;
	width:760px;
}
.main_mainbar{
	float:left;
	clear:both;
	width:964px;
	overflow:hidden;
	color:#666666;
}
.main_mainbar a:link,.main_mainbar a:visited{
	color:#666666;
	text-decoration:none;
}
.main_mainbar a:hover,.main_mainbar a:active{
	color:#FF3300;
	text-decoration:underline;
}
.main_mainbar a.style1:link,.main_mainbar a.style1:visited{
	color:#ff4c01;
	text-decoration:none;
}
.main_mainbar a.style1:hover,.main_mainbar a.style1:active{
	color:#ff4c01;
	text-decoration:underline;
}
.main_mainbar_left,.main_mainbar_center,.main_mainbar_right{
	float:left;
	clear:right;
}
.main_mainbar_left{
	width:271px;
}
.main_mainbar_center{
	width:489px;
}
.main_mainbar_right{
	width:204px;
}
.main_mainbar1{
	margin-top:5px;
	width:264px;
	border:solid 1px #b6b6b6;
	overflow:hidden;
}
.main_mainbar1_img{
	padding-top:2px;
	padding-left:2px;
	height:235px;
	overflow:hidden;
}
.main_mainbar1_text{
	padding:2px;
	line-height:20px;
}
.main_mainbar1_text ul{
	width:260px;
	padding-top:6px;
	padding-bottom:5px;
	background-color:#fafafa;
}
.main_mainbar1_text li{
	padding-left:12px;
}
.main_mainbar2{
	margin-top:5px;
	width:264px;
	border:solid 1px #b6b6b6;
	overflow:hidden;
}
.main_mainbar2_head{
	width:264px;
	height:25px;
	padding-top:4px;
	background:url(web/head_bg1.gif) no-repeat left top;
	background-color:#b6b6b6;
}
.main_mainbar2_head li.title,.main_mainbar2_head li.onbutton,.main_mainbar2_head li.button{
	float:left;
	clear:right;
}
.main_mainbar2_head li.title{
	height:20px;
	padding-top:4px;
	padding-left:16px;
	padding-right:16px;
	font-weight:bold;
	color:#FEFEFE;
	border-right:solid 1px #b6b6b6;
}
.main_mainbar2_head li.onbutton,.main_mainbar2_head li.button{
	padding-top:7px;
	padding-left:11px;
	padding-right:11px;
	border-top:solid 1px #b6b6b6;
	border-right:solid 1px #b6b6b6;
	color:#fc3800;
	cursor:pointer;
}
.main_mainbar2_head li.onbutton{
	height:17px;
	background-color:#fafafa;
}
.main_mainbar2_head li.button{
	height:16px;
	background-color:#ffffff;
	border-bottom:solid 1px #b6b6b6;
}
.main_mainbar2_body{
	width:264px;
	padding-top:8px;
	background-color:#fafafa;
}
.main_mainbar2_body li{
	padding-left:12px;
	height:20px;
}
.main_mainbar2_foot{}

.main_mainbar3{
	margin-top:5px;
	width:482px;
	border:solid 1px #b6b6b6;
	overflow:hidden;
}
.main_mainbar3_head{
	width:482px;
	height:29px;
	background:url(web/mainbar3_bg1.gif);
}
.main_mainbar3_head li.onbutton,.main_mainbar3_head li.button{
	font-size:14px;
	float:left;
	clear:right;
	width:92px;
	text-align:center;
	border-right:solid 1px #b6b6b6;
	color:#fc3800;
	cursor:pointer;
}
.main_mainbar3_head li.onbutton{
	font-size:14px;
	height:21px;
	padding-top:8px;
	font-weight:bold;
	background-color:#FFFFFF;
}
.main_mainbar3_head li.button{
	height:22px;
	padding-top:7px;
	background:url(web/mainbar3_bg2.gif);
}
.main_mainbar3_head li.button2 a:link,.main_mainbar3_head li.button2 a:visited{
	color:#ff4c01;
	text-decoration:none;
}
.main_mainbar3_head li.button2 a:hover,.main_mainbar3_head li.button2 a:active{
	color:#ff4c01;
	text-decoration:underline;
}
.main_mainbar3_head li.button2{
	float:left;
	clear:right;
	width:65px;
	height:18px;
	padding-top:9px;
	padding-left:5px;
	background:url(web/button_bg.gif) no-repeat -5px -26px;
	color:#fe3902;
	text-align:center;
}
.main_mainbar3_head li.more{
	float:right;
	padding-top:9px;
	padding-right:10px;
	color:#ff3800;
}
.main_mainbar3_head li.more a:link,.main_mainbar3_head li.more a:visited{
	color:#ff3800;
	text-decoration:none;
}
.main_mainbar3_head li.more a:hover,.main_mainbar3_head li.more a:active{
	color:#ff3800;
	text-decoration: underline;
}
.main_mainbar3_body{
	width:454px;
	height:192px;
	padding-top:16px;
	padding-left:14px;
	padding-right:14px;
	overflow:hidden;
}
.main_mainbar3_bodytop,.main_mainbar3_bodydown{
	float:left;
	clear:both;
	width:454px;
}
.main_mainbar3_bodytop{
	height:64px;
	background:url(web/line_1.gif) repeat-x bottom;
	overflow:hidden;
}
.main_mainbar3_bodytop_img,.main_mainbar3_bodytop_text{
	float:left;
	clear:right;
}
.main_mainbar3_bodytop_img{
	width:82px;
}
.main_mainbar3_bodytop_img img{
	padding:1px;
	border:solid 1px #d9d9d9;
}
.main_mainbar3_bodytop_text{
	width:372px;
	line-height:18px;
}
.main_mainbar3_bodydown{
	padding-top:8px;
}
.main_mainbar3_bodydown li{
	float:left;
	width:227px;
	height:24px;
	font-size:14px;
	overflow:hidden;
}
.main_mainbar38_bodydown{
	width:330px;
	padding-top:8px;
}
.main_mainbar38_bodydown li{
	float:left;
	width:165px;
	height:20px;
	font-size:12px;
	overflow:hidden;
}
.main_mainbar3_bodydown2{
	float:left;
	clear:both;
	width:454px;
	padding-top:8px;
}
.main_mainbar3_bodydown2 li{
	width:454px;
	height:24px;
	font-size:14px;
	overflow:hidden;
}
.main_mainbar3_foot{}

.main_mainbar4{
	margin-top:5px;
	width:202px;
	border:solid 1px #b6b6b6;
	overflow:hidden;
}
.main_mainbar4_head,.main_mainbar4_body{
	float:left;
	clear:both;
}
.main_mainbar4_head{
	width:202px;
	height:24px;
	padding-top:5px;
	background:url(web/head_bg1.gif) no-repeat left top;
	background-color:#b6b6b6;
}
.main_mainbar4_headleft,.main_mainbar4_headright{
	float:left;
	clear:right;
}
.main_mainbar4_headleft{
	width:120px;
	height:20px;
	padding-left:8px;
	padding-top:4px;
	color:#FEFEFE;
	font-weight:bold;
}
.main_mainbar4_headright{
	width:58px;
	height:14px;
	padding-top:4px;
	background:url(web/button_bg.gif) no-repeat -10px -60px;
	text-align:center;
	color:#fd1000;
}
.main_mainbar4_body{
	width:190px;
	padding-left:12px;
	padding-top:6px;
	background-color:#fafafa;
	overflow:hidden;
}
.main_mainbar48_body{
    float:left;
	clear:both;
	width:202px;
	padding-left:1px;
	padding-top:6px;
	background-color:#fafafa;
	overflow:hidden;
}
.main_mainbar4_body li{
	height:20px;
}
.main_mainbar4_body ul.style1{
	padding-top:4px;
	padding-bottom:1px;
	color:#666666;
}
.main_mainbar4_body li.style1{
	height:22px;
}
.main_mainbar4_body ul.style2{
	padding-top:2px;
}
.main_mainbar4_foot{}
.main_mainbar4_ad{
	margin-top:5px;
	width:204px;
	overflow:hidden;
}
.main_mainbar4_ad2{
	margin-top:5px;
	width:194px;
	height:104px;
	padding-left:10px;
	padding-top:5px;
	overflow:hidden;
	background-color:#f4f4f2;
	line-height:20px;	
}

.main_mainbar5_head{
	width:482px;
	height:25px;
	padding-top:4px;
	background:url(web/head_bg1.gif) no-repeat left top;
	background-color:#b6b6b6;
}
.main_mainbar5_head li.title,.main_mainbar5_head li.onbutton,.main_mainbar5_head li.button{
	float:left;
	clear:right;
	font-size:14px;
}
.main_mainbar5_head li.title{
	height:20px;
	padding-top:4px;
	padding-left:14px;
	padding-right:14px;
	font-weight:bold;
	color:#FEFEFE;
	border-right:solid 1px #b6b6b6;
}
.main_mainbar5_head li.onbutton,.main_mainbar5_head li.button{
	width:80px;
	padding-top:6px;
	border-top:solid 1px #b6b6b6;
	border-right:solid 1px #b6b6b6;
	color:#fc3800;
	text-align:center;
	cursor:pointer;
}
.main_mainbar5_head li.onbutton{
	height:18px;
	background-color:#ffffff;
}
.main_mainbar5_head li.button{
	height:17px;
	background:url(web/mainbar3_bg2.gif);
}

.main_mainbar6_body{
	width:244px;
	height:196px;
	padding-top:12px;
	padding-left:10px;
	padding-right:10px;
	overflow:hidden;
	background-color:#fafafa;
}
.main_mainbar6_bodytop,.main_mainbar6_bodydown{
	float:left;
	clear:both;
	width:244px;
}
.main_mainbar6_bodytop{
	height:64px;
	background:url(web/line_2.gif) repeat-x bottom;
	overflow:hidden;
}
.main_mainbar6_bodytop_img,.main_mainbar6_bodytop_text{
	float:left;
	clear:right;
}
.main_mainbar6_bodytop_img{
	width:82px;
}
.main_mainbar6_bodytop_img img{
	padding:1px;
	border:solid 1px #d9d9d9;
}
.main_mainbar6_bodytop_text{
	width:162px;
	line-height:20px;
}
.main_mainbar66_bodytop_text{
	width:112px;
	line-height:20px;
}
.main_mainbar6_bodydown{
	padding-top:10px;
	padding-bottom:2px;
}
.main_mainbar6_bodydown li{
	height:20px;
}

.main_mainbar7_body{
	width:252px;
	padding-top:10px;
	padding-left:12px;
	background-color:#fafafa;
	overflow:hidden;
}
.main_mainbar7_body ul{
	float:left;
	clear:both;
	width:240px;
}
.main_mainbar7_body ul img{
	padding:1px;
	border:solid 1px #d6d6d6;
}
.main_mainbar7_body li.pic{
	float:left;
	clear:right;
	width:88px;
	height:66px;
}
.main_mainbar7_body li{
	height:20px;
}

.main_mainbar8_body{
	width:196px;
	padding-top:8px;
	padding-left:6px;
	overflow:hidden;
	line-height:16px!important;
	line-height:24px;
	overflow:hidden;
}
.main_mainbar8_body a:link,.main_mainbar8_body a:visited{
	color:#f66e00;
	text-decoration:none;
}
.main_mainbar8_body a:hover,.main_mainbar8_body a:active{
	color:#f66e00;
	text-decoration:underline;
}
.main_mainbar8_body img{
	padding:1px;
	border:solid 1px #dbdbdd;
}
.main_mainbar8_body li{
	float:left;
	width:59px;
	padding-right:6px;
	height:83px;
	text-align:center;
	color:#ff7100;
}
.main_mainbar8_body li img{ margin-bottom:4px}

.main_mainbar9{
	margin-top:5px;
	float:left;
	clear:both;
	width:962px;
	border:solid 1px #b6b6b6;
	overflow:hidden;
}
.main_mainbar9_head,.main_mainbar9_body{
	float:left;
	clear:both;
}
.main_mainbar9_head{
	width:962px;
	height:24px;
	padding-top:5px;
	background:url(web/head_bg1.gif) no-repeat left top;
	background-color:#b6b6b6;
}
.main_mainbar9_headleft,.main_mainbar9_headright{
	float:left;
	clear:right;
}
.main_mainbar9_headleft{
	width:120px;
	height:20px;
	padding-left:8px;
	padding-top:4px;
	color:#FEFEFE;
	font-weight:bold;
}
.main_mainbar9_headright{
	width:58px;
	height:14px;
	padding-top:4px;
	background:url(web/button_bg.gif) no-repeat -10px -60px;
	text-align:center;
	color:#fd1000;
}
.main_mainbar9_body{
	width:962px;
	padding-top:10px;
	overflow:hidden;
	line-height:14px!important;
	line-height:18px;
	overflow:hidden;
}
.main_mainbar9_body li img{ margin-bottom:8px}
.main_mainbar9_body a:link,.main_mainbar9_body a:visited{
	color:#555555;
	text-decoration:none;
}
.main_mainbar9_body a:hover,.main_mainbar9_body a:active{
	color:#ff3300;
	text-decoration: underline;
}
.main_mainbar9_body img{
	border:solid 1px #cccccc;
}
.main_mainbar9_body li{
	float:left;
	width:92px;
	padding-left:25px;
	height:134px;
	color:#545454;
	overflow:hidden;
}
.main_mainbar9_foot{}

.main_linkbar{
	margin-top:5px;
	float:left;
	clear:both;
	width:962px;
	height:60px;
	border:solid 1px #b6b6b6;
	background-color:#f7f7f7;
	overflow:hidden;
}
.main_linkbar_head,.main_linkbar_body{
	float:left;
	clear:right;
}
.main_linkbar_head{
	width:128px;
	height:46px;
	padding-top:14px;
	text-align:center;
}
.main_linkbar_body{
	width:816px;
	height:80px;
	padding-top:8px;
	padding-bottom:8px;
	padding-right:18px;
	line-height:16px;
	overflow:hidden;
}
.main_linkbar_foot{}

.foot_police{
	margin:0px;
	float:left;
	clear:both;
	width:934px;
	height:52px;
	padding-top:18px;
	position:absolute;
	text-align:right;
}
.foot_copyright{
	margin-top:5px;
	float:left;
	clear:both;
	width:964px;
	overflow:hidden;
	position:absolute;
}
.foot_copyright_head,.foot_copyright_body{
	float:left;
	clear:both;
	width:964px;
}
.foot_copyright_head{
	height:12px;
	background:url(web/line_3.gif) repeat-x top;
}
.foot_copyright_body{
	height:100px;
	line-height:18px;
	text-align:center;
}
.foot_copyright_foot{}	

/* 系统文件表格样式 */
.header	{ 
	border: 1px solid #ededed;
	border-bottom: none;
}
.header a				{ color: #000000; }
.tableborder			{ background: #ededed; border: 1px solid #EDEDED; } 
.citybody               { border: 1px solid #cccccc; margin-top:5px;}





　　/* --评论显示页的css定义开始-- */
.comment_border /* 蓝色表格边框背景颜色定义(760) */



{
border: 1px solid #449ae8;
}
.comment_title /* 标题背景颜色定义(760) */
{
background:#449ae8;color: #ffffff;font-weight: normal;height: 25;
}
.comment_tdbg1 /* 表格背景颜色定义(760) */
{
background:#ffffff;line-height: 120%;
}
.comment_tdbg2 /* 留言显示1px表格背景颜色定义 */
{
background:#fafafa;
}
　　/* --评论显示页的css定义结束-- */



.main_photo{
	margin-top:5px;
	width:962px;
	border:solid 1px #b6b6b6;
	overflow:hidden;
    clear:both;
    float:left;
}
.main_photo_head,.main_photo_body{
	float:left;
	clear:both;
}
.main_photo_head{
	width:962px;
	height:24px;
	padding-top:5px;
	background:url(web/head_bg1.gif) no-repeat left top;
	background-color:#b6b6b6;
}
.main_photo_headleft,.main_photo_headright{
	float:left;
	clear:right;
}
.main_photo_headleft{
	width:120px;
	height:20px;
	padding-left:8px;
	padding-top:4px;
	color:#FEFEFE;
	font-weight:bold;
}
.main_photo_headright{
	width:58px;
	height:14px;
	padding-top:4px;
	background:url(web/button_bg.gif) no-repeat -10px -60px;
	text-align:center;
	color:#fd1000;
}
.main_photo_body{
	width:954px;
	padding-left:12px;
	padding-top:6px;
	background-color:#fafafa;
	overflow:hidden;
}

.main_photo_body li{
	height:20px;
}

.main_photo_foot{}

.main_mainbar9_bodytop_img{
	float:left;
	clear:right;
}
.main_mainbar9_bodytop_img{
	width:130px;
    padding-left:13px;
    padding-right:13px;
}
.main_mainbar9_bodytop_img img{
	padding:1px;
	border:solid 1px #d9d9d9;
}
